@use 'sass:map';

@mixin text($font: $font-family--text, $size: 1.8rem, $weight: 'regular', $color: $color-black) {
    font-family: $font;
    font-size: $size;
    font-weight: map.get($font-family--weight, $weight);
    color: $color;
}