/*------------------------------------*\
  COMPONENTS
\*------------------------------------*/
/*-------------------------------*\
  Backgrounds
\*-------------------------------*/
.background--color-primary {
    background-color: $color-primary;
}

.background--color-secundary {
    background-color: $color-secundary;
}



/*-------------------------------*\
  Logo
\*-------------------------------*/
.logo-link {
    display: block;
    width: fit-content;
    margin: 0 auto;
}



/*-------------------------------*\
  Cards
\*-------------------------------*/
/*--------------------------*\
  Recipes
\*--------------------------*/
.card__container{
    height: 300px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(black, 0.5);
    cursor: pointer;
        
    &:hover {
        transform: translateY(20px);
    
        &:before {
            opacity: 1;
        }
        .card__information {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background: rgba(black, 0.6);
        z-index: 2;
        transition: 0.5s;
        opacity: 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
    }

    .card__information {
        position: relative;
        z-index: 3;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s;
    }
    .card__title {
        margin: 0px;
        @include text($size: 2.8rem, $color: $color-primary, $weight: 'bold');
    }
    .card__category__text {
        letter-spacing: 1px;
        margin-top: 8px;
        color: $color-white;
    }
}

.card--state-active {
    &:before {
        opacity: 1;
    }
    .card__information {
        opacity: 1;
        transform: translateY(0px);
    }
}


/*--------------------------*\
  Menu
\*--------------------------*/
.menu__card {
    display: grid;

    .menu__card__link {
        position: relative;
        border-radius: 15px;
        overflow: hidden;
    }

    .menu__card__title__container {
        @extend %center-content-vertical-hortizontal;
        width: 100%;
        height: 75px;
        background-color: $color-primary;
        background: linear-gradient(to left, $color-primary 50%, $color-secundary 50%) right;
        background-size: 200%;
        transition: 0.2s ease-out;
    }

    .title--level-third {
        @extend %center-content-vertical-hortizontal;
        color: $color-white;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.menu__card:hover,
.menu__card:focus { 
    .menu__card__title__container {
        background-position: left;
        height: 150px;
    }
}



/*-------------------------------*\
  Icons
\*-------------------------------*/
.fa-magnifying-glass {
    color: $color-fourth;
    margin-right: 7px;
    font-size: 0.9em;
}

.fa-chevron-up {
    color: $color-white;
}



/*-------------------------------*\
  Input searcher
\*-------------------------------*/
.searcher {
    display: flex;
    position: relative;
    max-width: 500px;
    width: 95%;
    

    &__label {
        display: block;
        position: absolute;
        top: 0;
        line-height: 40px;
        color: $color-fourth;
        left: 5px;
        padding: 0 5px;
        transition: line-height 200ms ease-in-out,
            font-size 200ms ease-in-out,
            top 200ms ease-in-out;
        pointer-events: none;
    }

    &__input {
        width: 100%;
        height: 40px;
        border: 1px solid $color-fourth;
        border-radius: 3px;
        padding: 0 10px;

        &:not(:placeholder-shown),
        &:focus {
            +label {
                background-color: $color-white;
                line-height: 10px;
                opacity: 1;
                font-size: 1rem;
                top: -5px;
            }
        }

        &:focus {
            outline: none;
            border: 2px solid $color-primary;

            +label,
            +label > i {
                color: $color-primary;
            }
        }
    }
}

.searcherFixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}



/*-------------------------------*\
  Input checkbox
\*-------------------------------*/
.checkbox-container input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox-container label {
    position: relative;
    padding-left: 35px;
    padding-right: 15px;
    line-height: 2;
    cursor: pointer;
    display: inline-flex;
}

.checkbox-container label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 7px;
    left: 6px;
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $color-fourth;
    border-radius: 5px;
    z-index: -1;
}

.checkbox-container input[type=checkbox]:checked + label {
    padding-left: 30px;
    color: $color-primary;
}
.checkbox-container input[type=checkbox]:checked + label:before {
    top: 0;
    width: 100%;
    height: 35px;
    background: $color-third;
    border-color: $color-primary;
}

.checkbox-container label,
.checkbox-container label::before {
    transition: 0.25s all ease;
}



/*-------------------------------*\
  Float button
\*-------------------------------*/
#buttonTop {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: $color-secundary; 
    color: $color-white;
    cursor: pointer;
    padding: 15px; 
    border-radius: 30px; 
}
  
#buttonTop:hover {
    background-color: $color-third; 
}





/*------------------------------------*\
  RECIPE
\*------------------------------------*/
#recipe {
    visibility: hidden;
}

.recipe__content {
    background-color: $color-white;

    * {
        text-align: center;
    }

    p,
    li {
        margin-bottom: 10px;
    }

    p {
        line-height: 2.8rem;
    }

    img {
        width: 100%;
        max-width: 500px;
        display: block;
        margin: 0 auto;
        border-radius: 15px;
    }
}





/*------------------------------------*\
  FOOTER
\*------------------------------------*/
.footer-container {
    margin-top: 50px;

    ul {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    li {
        color: $color-white;
    }

    li:not(:last-child) {
        margin-bottom: 15px;
    }
}





/*------------------------------------*\
  SIMULATE SHEET OF PAPER
\*------------------------------------*/
.paper {
    margin: 25px auto;
    box-shadow: 4px 4px 0 $color-fourth;
    background-image: 
      linear-gradient(
        90deg,
        #fff 12px, 0,
        $color-fourth 15px, 0,
        $color-transparent 20px, 0,
        #fff 100%
      ),
      radial-gradient(
        circle closest-side,
        rgba(255,255,255,0) 88%,
        #fff 100%
      ),
      radial-gradient(
        circle at 22px 8px,
        $color-transparent 40%,
        $color-fourth 40%,
        $color-fourth 100%
      );
    background-size: 32px 8px, 32px 16px, 32px 16px;
    background-repeat: space no-repeat;
    background-position: center top, center 6px, center 6px;
}