/*------------------------------------*\
  COMPONENTS
\*------------------------------------*/
/*-------------------------------*\
  Backgrounds
\*-------------------------------*/
.background--color-primary {
    background-color: $color-primary;
}

.background--color-secundary {
    background-color: $color-secundary;
}



/*-------------------------------*\
  Cards
\*-------------------------------*/
/*--------------------------*\
  Recipes
\*--------------------------*/
.card__container {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 300px;
    padding: 1.5rem;
    cursor: pointer;
    background: $color-white;
    border-radius: 15px;
    box-shadow: 0 7px 10px rgba($color-black, 0.5);
    transition: 0.4s ease-out;
        
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background: rgba($color-black, 0.6);
        border-radius: 15px;
        opacity: 0;
        transition: 0.5s;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    &__information {
        position: relative;
        z-index: 3;
        opacity: 0;
        transition: 0.5s;
        transform: translateY(30px);

        &__category {
            &__text {
                margin-top: 8px;
                color: $color-white;
                letter-spacing: 1px;
            }
        }
    
        &__title {
            margin: 0;
            @include text($size: 2.8rem, $weight: 'bold', $color: $color-primary);
        }
    }

    &:hover {
        transform: translateY(20px);

        &:before {
            opacity: 1;
        }
        .card__container__information {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.card--state-active {
    &:before {
        opacity: 1;
    }
    .card__information {
        opacity: 1;
        transform: translateY(0);
    }
}


/*--------------------------*\
  Menu
\*--------------------------*/
.menu__card {
    display: grid;

    &__link {
        position: relative;
        overflow: hidden;
        border-radius: 15px;
    }

    &__title__container {
        @extend %center-content-vertical-hortizontal;
        width: 100%;
        height: 75px;
        background: linear-gradient(to left, $color-primary 50%, $color-secundary 50%) right;
        background-color: $color-primary;
        background-size: 200%;
        transition: 0.2s ease-out;
    }

    .title--level-third {
        @extend %center-content-vertical-hortizontal;
        color: $color-white;
    }

    img {
        width: 100%;
        height: 100%;
    }

    &:hover,
    &:focus {
        .menu__card__title__container {
            height: 150px;
            background-position: left;
        }
    }
}



/*-------------------------------*\
  Inputs
\*-------------------------------*/
/*--------------------------*\
  Input searcher
\*--------------------------*/
.searcher {
    position: relative;
    display: flex;
    width: 95%;
    max-width: 500px;

    &__label {
        position: absolute;
        top: 0;
        left: 5px;
        display: block;
        padding: 0 5px;
        line-height: 40px;
        color: $color-fourth;
        pointer-events: none;
        transition: line-height 200ms ease-in-out,
            font-size 200ms ease-in-out,
            top 200ms ease-in-out;
    }

    &__input {
        width: 100%;
        height: 40px;
        padding: 0 10px;
        border: 1px solid $color-fourth;
        border-radius: 3px;

        &:not(:placeholder-shown),
        &:focus {
            +label {
                top: -5px;
                line-height: 10px;
                @include text($size: 1rem);
                background-color: $color-white;
                opacity: 1;
            }
        }

        &:focus {
            border: 2px solid $color-primary;
            outline: none;

            +label,
            +label > i {
                color: $color-primary;
            }
        }
    }
}

.searcher--state-fixed {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}


/*--------------------------*\
  Input checkbox
\*--------------------------*/
.checkbox {
    &__label {
        position: relative;
        display: inline-flex;
        padding-right: 15px;
        padding-left: 35px;
        line-height: 2.2;
        cursor: pointer;
        transition: 0.25s all ease;

        &:before {
            position: absolute;
            top: 7px;
            left: 6px;
            z-index: -1;
            display: block;
            width: 20px;
            height: 20px;
            content: ' ';
            border: 2px solid $color-fourth;
            border-radius: 5px;
        }
        
        &::before {
            transition: 0.25s all ease;
        }
    }
    
    &__input {
        display: none;
        visibility: hidden;

        &:checked + label {
            padding-left: 30px;
            color: $color-primary;
        }

        &:checked + label:before {
            top: 0;
            width: 100%;
            height: 35px;
            background: $color-third;
            border-color: $color-primary;
        }
    }
}



/*-------------------------------*\
  Logo
\*-------------------------------*/
.logo__link {
    display: block;
    width: fit-content;
    margin: 0 auto;
}



/*-------------------------------*\
  Icons
\*-------------------------------*/
.fa-magnifying-glass {
    margin-right: 7px;
    font-size: 0.9em;
    color: $color-fourth;
}

.fa-chevron-up {
    color: $color-white;
}



/*-------------------------------*\
  Float button
\*-------------------------------*/
#buttonTop {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 99;
    display: none;
    padding: 15px;
    color: $color-white;
    cursor: pointer;
    background-color: $color-secundary;
    border: none;
    border-radius: 30px;
    outline: none;

    &:hover {
        background-color: $color-third;
    }
}



/*-------------------------------*\
  Simulate paper
\*-------------------------------*/
.paper {
    margin: 25px auto;
    background-image: linear-gradient(90deg, $color-white 12px, 0,
        $color-fourth 15px, 0, $color-transparent 20px, 0, $color-white 100%),
      radial-gradient(circle closest-side, rgba(255,255,255,0) 88%, $color-white 100%),
      radial-gradient(circle at 22px 8px, $color-transparent 40%,
        $color-fourth 40%, $color-fourth 100%);
    background-repeat: space no-repeat;
    background-position: center top, center 6px, center 6px;
    background-size: 32px 8px, 32px 16px, 32px 16px;
    box-shadow: 4px 4px 0 $color-fourth;
}





/*------------------------------------*\
  FOOTER
\*------------------------------------*/
.footer {
    margin-top: 50px;

    &__list {
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
    

        &__element {
            color: $color-white;
        }

        &__element:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}





/*------------------------------------*\
  RECIPE
\*------------------------------------*/
#recipe {
    visibility: hidden;
}

.recipe__content {
    background-color: $color-white;

    * {
        text-align: center;
    }

    p,
    li {
        margin-bottom: 10px;
        line-height: 2.8rem;
    }

    img {
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        border-radius: 15px;
    }
}