<section>
    <div class="center-content--padding-25-50">    
        <h2 class="title--level-secundary">Menú</h2>

        <ul class="menu__container">
            <li class="menu__card">
                <a href="#recipes" class="menu__card__link" id="entrantes">
                    <div class="menu__card__title__container">
                        <h3 class="title--level-third">Entrantes</h3>
                    </div>
                    <picture>
                        <source srcset="./assets/images/recipes/jpg/11/img_11_690.jpg?as=webp" type="image/webp">
                        <img src="./assets/images/recipes/jpg/11/img_11_690.jpg" alt="">
                    </picture>
                </a>
            </li>
            <li class="menu__card">
                <a href="#recipes" class="menu__card__link" id="primeros">
                    <div class="menu__card__title__container">
                        <h3 class="title--level-third">Primeros</h3>
                    </div>
                    <picture>
                        <source srcset="./assets/images/recipes/jpg/4/img_4_690.jpg?as=webp" type="image/webp">
                        <img src="./assets/images/recipes/jpg/4/img_4_690.jpg" alt="">
                    </picture>
                </a>
            </li>
            <li class="menu__card">
                <a href="#recipes" class="menu__card__link" id="segundos">
                    <div class="menu__card__title__container">
                        <h3 class="title--level-third">Segundos</h3>
                    </div>
                    <picture>
                        <source srcset="./assets/images/recipes/jpg/5/img_5_690.jpg?as=webp" type="image/webp">
                        <img src="./assets/images/recipes/jpg/5/img_5_690.jpg" alt="">
                    </picture>
                </a>
            </li>
            <li class="menu__card">
                <a href="#recipes" class="menu__card__link" id="postres">
                    <div class="menu__card__title__container">
                        <h3 class="title--level-third">Postres</h3>
                    </div>
                    <picture>
                        <source srcset="./assets/images/recipes/jpg/8/img_8_690.jpg?as=webp" type="image/webp">
                        <img src="./assets/images/recipes/jpg/8/img_8_690.jpg" alt="">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>