<section>
    <div class="center-content--padding-25-50">    
        <h2 class="title--level-secundary">Menú</h2>

        <ul class="menu__container">
            <li class="menu__card">
                <a id="entrantes" class="menu__card__link" href="#recipes">
                    <div class="menu__card__title__container">
                        <h3 class="title--level-third">Entrantes</h3>
                    </div>
                    <picture>
                        <source srcset="./assets/images/recipes/jpg/12/img_12_420.jpg?as=webp" type="image/webp">
                        <img src="./assets/images/recipes/jpg/12/img_12_420.jpg" alt="Crema fría de espárragos y berberechos">
                    </picture>
                </a>
            </li>
            <li class="menu__card">
                <a id="primeros" class="menu__card__link" href="#recipes">
                    <div class="menu__card__title__container">
                        <h3 class="title--level-third">Primeros</h3>
                    </div>
                    <picture>
                        <source srcset="./assets/images/recipes/jpg/4/img_4_420.jpg?as=webp" type="image/webp">
                        <img src="./assets/images/recipes/jpg/4/img_4_420.jpg" alt="Arroz negro">
                    </picture>
                </a>
            </li>
            <li class="menu__card">
                <a id="segundos" class="menu__card__link" href="#recipes">
                    <div class="menu__card__title__container">
                        <h3 class="title--level-third">Segundos</h3>
                    </div>
                    <picture>
                        <source srcset="./assets/images/recipes/jpg/5/img_5_420.jpg?as=webp" type="image/webp">
                        <img src="./assets/images/recipes/jpg/5/img_5_420.jpg" alt="Berenjenas rellenas">
                    </picture>
                </a>
            </li>
            <li class="menu__card">
                <a id="postres" class="menu__card__link" href="#recipes">
                    <div class="menu__card__title__container">
                        <h3 class="title--level-third">Postres</h3>
                    </div>
                    <picture>
                        <source srcset="./assets/images/recipes/jpg/8/img_8_420.jpg?as=webp" type="image/webp">
                        <img src="./assets/images/recipes/jpg/8/img_8_420.jpg" alt="Pestiños">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>