
/*.nav-primary__content > li,
.router-link {
    @include text($marginBottom: 0);
}
*/


/*
.background--color-primary {
    background-color: $color-primary;
}

.background--color-secundary {
    background-color: $color-secundary;
}

//links
.link:hover {
    @include link($color: $color-third, $weight: 'bold');
}

//btn
.btn-primary {
    @include btn;
    width: 50px;
    height: 25px;
}
*/
/** Navegación */
.nav-primary {
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;

    @media (min-width: $tabletWidth) {
        position: relative;
        width: 100%;
    }

    .nav-primary__content {
        @media (min-width: $tabletWidth) {
            display: flex;
            justify-content: center;
        }
    }
    
    li {
        height: 50px;
    }

    .router-link {
        display: inline-block;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .router-link-active {
        @include link($color: $color-primary, $background: $color-white, $weight: 'regular');
        cursor: default;
    }

    .router-link:hover {
        @include link($color: $color-white, $background: $color-third, $weight: 'regular');
    } 

    .fa-xmark{
        position: absolute;
        top: 5%;
        right: 5%;
        cursor: pointer;
    }
}

.dropdown__container {
    position: absolute;
    top: 5.5%;
    left: 5%;

    .dropdown__button {
        background: none;
        border: none;
    }

    .fa-bars {
        color: $color-white
    }

    @media (min-width: $tabletWidth) {
        display: none;
    }
}


/**breadcrumbs*/
.breadcrumbs {
    display: flex;

    .breadcrumbs-separator {
        margin-left: 10px;
        margin-right: 10px;
    }

    li:last-child .breadcrumbs-separator {
        display: none;
    }

    .router-link-active {
        @include link($color: $color-primary, $weight: 'bold');
        cursor: default;
    }

    .breadcrumbs-links:hover {
        @include link($color: $color-third, $weight: 'bold');
    }
}

/*cards*/
.card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;

    @media (min-width: $mobileWidth) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $tabletWidth) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.card {
    position: relative;
    display: flex;

    .card__title-container {
        position: absolute;
        bottom: 0;
        background-image: linear-gradient($color-transparent, $color-disable);
        width: 100%;
        height: 100%;
    }

    .title--level-third {
        margin: 0;
        padding: 15px;
        position: absolute;
        bottom: 0;
        height: auto;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.card:hover {
    transform: scale(1.05, 1.05);
    transition: transform 0.3s ease-out;

    .card__wrapper-title {
        animation: translatecard__wrapper-title 0.2s ease-out;
        animation-fill-mode: forwards;
    }

    .title--level-third {
        animation: translateCard__title 0.15s ease-out;
        animation-fill-mode: forwards;
    }
}

.card:focus {
    animation: translateCard__state-focus 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes translatecard__wrapper-title {
    0% {
        height: 100%;
    }

    50% {
        height: 100%;
    }

    100% {
        height: 0;
        display: none;
    }
}

@keyframes translateCard__title {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes translateCard__state-focus {
    0% {
        transform: scale(1.05, 1.05);
    }

    50% {
        transform: scale(0.8, 0.8);
    }

    100% {
        transform: scale(1, 1);
    }
}


/*searcher*/
.searcher {
    display: flex;
    margin: auto 0;
    position: relative;
    max-width: 350px;
    width: 100%;
    grid-column-end: 3;

    &__label {
        display: block;
        position: absolute;
        top: 0;
        line-height: 30px;
        color: $color-disable;
        left: 5px;
        padding: 0 5px;
        transition: line-height 200ms ease-in-out,
            font-size 200ms ease-in-out,
            top 200ms ease-in-out;
        pointer-events: none;
    }

    &__input {
        width: 100%;
        height: 30px;
        border: 1px solid $color-disable;
        border-radius: 3px;
        padding: 0 10px;

        &:not(:placeholder-shown),
        &:focus {
            +label {
                background-color: $color-white;
                line-height: 10px;
                opacity: 1;
                font-size: 10px;
                top: -5px;
            }
        }

        &:focus {
            outline: none;
            border: 2px solid $color-primary;

            +label {
                color: $color-primary;
            }
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    color: $color-primary !important;
}

.swiper-pagination-bullet-active {
    background-color: $color-primary !important;
}




.logo-link {
    display: block;
    width: fit-content;
    margin: 0 auto;
}






.footer-container {
    margin-top: 50px;

    ul {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    li:last-child {
        margin-bottom: 0;
    }
}