.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;

  @media (min-width: $tabletWidth) {
    grid-template-columns: 2fr 1fr;
  }
}

.container > main {
  @media (min-width: $tabletWidth) {
    margin-left: 25px;
  }
}

.container > aside {
  @media (min-width: $tabletWidth) {
    margin-right: 25px;
  }
}


