.container-header {
    display: flex;
    align-items: center;
    min-height: 100px;
    
}

.logo-link {
    display: flex;
    cursor: pointer;
}

.logo-link h1 {
    margin: auto;
}
.logo-link:hover h1{
    @include links-hover;
}
