.card-menu-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;

    @media (min-width: $tabletWidth) {
        grid-template-columns: 1fr 1fr;
    }
}

.card-menu {
    position: relative;
}

.card-menu {
    div {
        @extend %center-content;
        width: 100%;
        height: 75px;
        background-color: $color-primary;
    }

    .title--level-third {
        @extend %center-content;
    }

    img {
        width: 100%;
        height: 100%;
    }
}