aside {
    border-color: $color-primary;
    border-width: thick;
    border-style: ridge;
    height: fit-content;
}

aside {
    .title--level-secundary {
        padding: 15px;
        border-bottom-style: ridge;
        border-bottom-width: thick;
        color: $color-text-white;
        border-bottom-color: $color-primary;
        background-color: $color-primary;
    }

    .title--level-third {
        padding-left: 15px;
    }

    li:not(:last-child) {
        border-bottom-style: ridge;
        border-bottom-width: thick;
        border-bottom-color: $color-primary;
    }

    a {
        cursor: pointer;
        display: block;
    }

    picture {
        display: grid;
    }

    img {
        margin: 0 auto;
    }

    a:hover {
        background-color: $color-third;
    }

    a:hover .title--level-third {
        color: $color-text-white;
    }

    .swiper-container {
        max-width: 75vw;
        margin: 0;
    }

}

