<div>
    <h3 class="title--level-third blank-space--bottom-15">Categorias</h3>
    <form class="category__form">
        <div class="checkbox">
            <input type="checkbox" id="mediterranea" class="checkbox__input" value"Mediterranea">
            <label class="checkbox__label" for="mediterranea">Mediterránea</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="española" class="checkbox__input" value"española">
            <label class="checkbox__label" for="española">Española</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="japonesa" class="checkbox__input" value"japonesa">
            <label class="checkbox__label" for="japonesa">Japonesa</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="italiana" class="checkbox__input" value"italiana">
            <label class="checkbox__label" for="italiana">Italiana</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="china" class="checkbox__input" value"china">
            <label class="checkbox__label" for="china">China</label>
        </div>
    </form>
</div>