<div>
    <h3 class="title--level-third blank-space--bottom-15">Categorias</h3>
    <form class="category__form">
        <div class="checkbox-container">
            <input type="checkbox" id="mediterranea" value="Mediterranea">
            <label for="mediterranea">Mediterránea</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="española" value="española">
            <label for="española">Española</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="japonesa" value="japonesa">
            <label for="japonesa">Japonesa</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="italiana" value="italiana">
            <label for="italiana">Italiana</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="china" value="china">
            <label for="china">China</label>
        </div>
    </form>
</div>