@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand+SC&display=swap');

$font-family--title: 'Patrick Hand SC', cursive;
$font-family--text: 'Handlee', cursive;

$font-family--weight: ("regular": 400, "bold": 600);

$color-primary: #ED7D31;
$color-secundary: #6C5F5B;
$color-third: #4F4A45;
$color-black: #000;
$color-white: #FFF;
$color-disable: #D4D4D4;
$color-transparent: rgba(212, 212, 212, 0.6);

$mobileWidth: 420px;
$tabletWidth: 800px
