@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand+SC&display=swap');


$font-family--title: 'Patrick Hand SC', cursive;
$font-family--text: 'Handlee', cursive;

$font-family--weight: ('regular': 400, 'bold': 600);

$color-primary: #ED7D31;
$color-secundary: #6C5F5B;
$color-third: #383838;
$color-fourth: #D4D4D4;
$color-black: #000;
$color-white: #FFF;
$color-transparent: color.adjust($color-fourth, $alpha: -0.8);

$mobile: 420px;
$tablet: 800px
