/*------------------------------------*\
  GENERAL LAYOUT
\*------------------------------------*/

/*-------------------------------*\
  Center content on screen
\*-------------------------------*/

%center-container {
    max-width: 1200px;
    margin: 0 auto;
}

.center-content {
    @extend %center-container;
}

.center-content--padding-25-50 {
    @extend %center-container;
    padding: 25px;

    @media (min-width: $tabletWidth) {
        padding: 25px 50px;
    }
}

.center-content--padding-0 {
    @extend %center-container;
    padding: 0px;
}


/*-------------------------------*\
  Center content vertical
  and hortizontal
\*-------------------------------*/
%center-content-vertical-hortizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*-------------------------------*\
  Blank space 
\*-------------------------------*/
.blank-space--bottom-15 {
    margin-bottom: 15px;
}

.blank-space--bottom-25 {
    margin-bottom: 25px;
}





/*------------------------------------*\
  HEADER LAYOUT
\*------------------------------------*/
.container-header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo-link > svg {
    display: block;
    margin: auto;
}





/*------------------------------------*\
  NAV LAYOUT
\*------------------------------------*/
nav {
    background-color: $color-secundary;
    height: 50px;

    .nav-primary {
        position: relative;
        height: 50px;

        .searcher {
            @extend %center-content-vertical-hortizontal;

            @media (min-width: $tabletWidth) {
                left: 75%;
                transform: translate(-60%, -50%);
            }

            @media (min-width: 1200px) {
                left: 80%;
                transform: translate(-50%, -50%);
            }
        }
    }
}





/*------------------------------------*\
  MENU LAYOUT
\*------------------------------------*/
.menu__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

    @media (min-width: $tabletWidth) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}





/*------------------------------------*\
  CATEGORIES LAYOUT
\*------------------------------------*/
.category__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-bottom: 50px;

    @media (min-width: $mobileWidth) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: $tabletWidth) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}





/*------------------------------------*\
  RECIPE LIST LAYOUT
\*------------------------------------*/
.list__container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;

    @media (min-width: $mobileWidth) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $tabletWidth) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.card__container {
    display: grid;
}





/*------------------------------------*\
  RECIPE LAYOUT
\*------------------------------------*/
.recipe__container {
    padding: 10px;

    @media (min-width: $tabletWidth) {
        padding: 15px; 
    }
}

.recipe__content {
    padding: 25px;
    padding-top: 100px;

    @media (min-width: $tabletWidth) {
       padding: 100px 50px; 
    }
}